body {
    background-color: #2f3136;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #36393f;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #7289da;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #677bc4;
}

#user-info img {
    border-radius: 50%;
    margin-top: 10px;
}

#auth-warning {
    display: none;
    color: #ffcc00;
    background-color: #000000;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

#user-info {
    display: none;
}
