body {
    background-color: #2f3136;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 15%;
    padding: 20px;
    border-radius: 10px;
    background-color: #36393f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1, p {
    text-align: center;
}

#login-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #7289da;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#user-info {
    text-align: center;
}

#avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
