body {
    background-color: #2C2F33; /* Discordの背景色 */
    color: #FFFFFF; /* 白文字 */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #23272A; /* 灰色の背景 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 15%; /* 横幅を15%に設定 */
    aspect-ratio: 3 / 2; /* 縦横比を2:3に設定 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5em; /* タイトルの文字サイズ */
}

p {
    font-size: 1em; /* 残りの文字サイズ */
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5865F2; /* 青色のボタン */
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #ffffff; /* 白色の枠 */
    font-size: 1em; /* ボタンの文字サイズ */
}

.button:hover {
    background-color: #4752c4;
}

#user-info p {
    margin: 5px 0;
}

#user-info img {
    border-radius: 50%;
    margin-top: 10px;
}
